server:
  port: 4000
  shutdown: "graceful"

management:
  endpoint:
    health:
      show-details: "always"
      group:
        readiness:
          include: "db"
  endpoints:
    web:
      base-path: /
      exposure:
        include: info

springdoc:
  packagesToScan: uk.gov.hmcts.reform.dev.modules.tasks.controllers
  writer-with-order-by-keys: true

spring:
  application:
    name: HMCTS Task Management API

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/taskdb;MODE=PostgreSQL
    username: admin
    password:
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy

  # H2 Console (accessible at http://localhost:4000/h2-console)
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    uk.gov.hmcts.reform.dev: DEBUG  # Your app logs at DEBUG level
    org.springframework.web: INFO    # Spring framework at INFO
    org.hibernate.SQL: DEBUG         # See SQL queries (optional)
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # See SQL parameters (optional)
